@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

@font-face {
    font-family: Helsinki;
    src: url("helsinki/helsinki.ttf") format("truetype");
}

@font-face {
    font-family: Balloda;
    src: url("balloda/balooda-regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Bold.ttf") format("truetype");
    font-weight: bold;
}

body{
    overflow: hidden;
}

.hidden {
    display: none;
}



#bg, .content-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#bg{
    width: min(140vh,100vw);
    height: min(71.11vw,100vh);
    
    background-image: url('lbbackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.content-box {
    width: min(115vh,82vw);
    height: min(68vh,48.6vw);

    background-color: rgba(255, 255, 255, 0.76);

    border: min(2vh,2vw) solid #F8D5BF;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6.5%/11%;

    padding: min(5.75vh,4.1vw);
}

.content-box h1, h2{
    text-shadow: min(0.42vh,0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        0px min(0.5vh,0.36vw) #F8D5BF,
        min(-0.42vh,-0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        min(-0.5vh,-0.36vw) 0px #F8D5BF,
        min(-0.42vh,-0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        0px min(-0.5vh,-0.36vw) #F8D5BF,
        min(0.42vh,0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        min(0.5vh,0.36vw) 0px #F8D5BF;
    text-align: center;
    width: 100%;
}

h1{
    font-size: min(13vh,10.7vw);
    color: #7e2830;
    font-family: Helsinki;
}

h2{
    font-size: min(8.5vh,5.5vw);
    color: #3181F9;
    font-family: Balloda;
}
/*.content-box h1 img {
    display: inline-block;
    height: min(20vh,14.3vw);
}*/
#child-log-in form{
    margin-bottom: min(2.5vh,1.5vw);
}

#admin-log-in h1{
    font-size: min(13vh,9.3vw);
}

#welcome-admin h1{
    font-size:min(11vh,7.85vw);
    margin-bottom: min(2.5vh,1.5vw);

}

.content-box form {
    width: 100%;
    text-align: center;
    margin-top: min(3.5vh,2.5vw);
}

.content-box form * {
    font-family: 'Anaheim';
    display: block;
    font-size: min(3.5vh,2.5vw);
}

.content-box form label {
    

    text-shadow: 1px 1px #FFAAAA,
        0px 2px #FFAAAA,
        -1px 1px #FFAAAA,
        -2px 0px #FFAAAA,
        -1px -1px #FFAAAA,
        0px -2px #FFAAAA,
        1px -1px #FFAAAA,
        2px 0px #FFAAAA;
}

.content-box form input {
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    line-height: 0;
    padding: 0 min(1.75vh, 1.25vw);
}

.btn {
    font-family: 'Anaheim';
    font-weight: bold;
    border-width: min(0.65vh,0.65vw);
    border-style: solid;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
}

.btn-pink{
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    border-color: #FFCDAD;
    border-radius: min(3.5vh,2.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: 0 min(2vh,2vw);
}

.btn-brown{
    font-size: min(3.5vh,2.5vw);
    border-color: #C07070;
    border-radius: min(5.5vh,4.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
}

#welcome-admin .btn-violet, .btn-indigo, .btn-turquoise{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(40vw,46vh);
    margin-bottom: min(1.5vh,1vw);
}


#welcome-admin .btn-pink{
    display: block;
    font-size: min(3vh,2vw);
}
.btn-violet{
    border-color: #9C54BE;
}

.btn-indigo{
    border-color: #5458BE;
}

.btn-turquoise{
    border-color: #54B8BE;
}


#generate-institute-string .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(40vw,46vh);
    margin-top: min(2.5vh,1.5vw);
    line-height: min(3.5vh,2.5vw);
}

#generate-institute-string input{
    margin-top: min(1.5vh,1vw);
}

#generate-institute-string form{
    margin-top: min(3.5vh,1vw);
}

#str-generate{
    display: block;
}

#schoolList{
    width: auto;
    display: block;
}

#download-data .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(25vw,35vh);
    line-height: min(3.5vh,2.5vw);
}

#download-data .btn-brown{
    margin-bottom: min(2.5vh,1.5vw);
}

#change-admin-string .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    margin-top: min(2.5vh,1.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(35vw,40vh);
    line-height: min(3.5vh,2.5vw);
}

#change-admin-string input{
    margin-top: min(3.5vh,1vw);
}