@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

@font-face {
    font-family: Helsinki;
    src: url("helsinki/helsinki.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Bold.ttf") format("truetype");
    font-weight: bold;
}

body{
    overflow: hidden;
}

.hidden {
    display: none;
}

#bg, .content-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#bg{
    width: min(140vh,100vw);
    height: min(71.11vw,100vh);
    
    background-image: url('lbbackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.content-box {
    width: min(115vh,82vw);
    height: min(68vh,48.6vw);

    background-color: rgba(255, 255, 255, 0.76);

    border: min(2vh,2vw) solid #F8D5BF;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6.5%/11%;

    padding: min(5.75vh,4.1vw);
}

.content-box h1 {
    font-size: min(15vh,10.7vw);
    color: #7e2830;
    /* text-shadow: 0.4rem 0.4rem #F8D5BF,
        0px 0.5rem #F8D5BF,
        -0.4rem 0.4rem #F8D5BF,
        -0.5rem 0px #F8D5BF,
        -0.4rem -0.4rem #F8D5BF,
        0px -0.5rem #F8D5BF,
        0.4rem -0.4rem #F8D5BF,
        0.5rem 0px #F8D5BF; */
    text-shadow: min(0.42vh,0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        0px min(0.5vh,0.36vw) #F8D5BF,
        min(-0.42vh,-0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        min(-0.5vh,-0.36vw) 0px #F8D5BF,
        min(-0.42vh,-0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        0px min(-0.5vh,-0.36vw) #F8D5BF,
        min(0.42vh,0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        min(0.5vh,0.36vw) 0px #F8D5BF;
    font-family: Helsinki;
    text-align: center;
    width: 100%;
}

.content-box h1 img {
    display: inline-block;
    height: min(20vh,14.3vw);
}

.content-box form {
    width: 100%;
    text-align: center;
    margin-top: min(3.5vh,2.5vw);
}

.content-box form * {
    font-family: 'Anaheim';
    display: block;
    font-size: min(3.5vh,2.5vw);
}

.content-box form label {
    

    text-shadow: 1px 1px #FFAAAA,
        0px 2px #FFAAAA,
        -1px 1px #FFAAAA,
        -2px 0px #FFAAAA,
        -1px -1px #FFAAAA,
        0px -2px #FFAAAA,
        1px -1px #FFAAAA,
        2px 0px #FFAAAA;
}

.content-box form input {
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    line-height: 0;
    padding: 0 min(1.75vh, 1.25vw);
}

.btn {
    font-family: 'Anaheim';
    font-weight: bold;
    border-width: min(0.65vh,0.65vw);
    border-style: solid;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
}

.btn-pink{
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    border-color: #FFCDAD;
    border-radius: min(3.5vh,2.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: 0 min(2vh,2vw);
}

.btn-brown{
    font-size: min(3.5vh,2.5vw);
    border-color: #C07070;
    border-radius: min(5.5vh,4.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
}

.btn-violet{
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-color: #9C54BE;
    border-radius: min(5.5vh,4.5vw);

}