<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
    <style>
        body{
            font-size: 1.5rem;
            color: black;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: darkorange;
        }
        .button{
            margin-bottom:3rem;
            background-color: bisque;
            padding: 20px
        }
    </style>
</head>
<body>

<div class="" style="width:100%; max-width: 450px; margin: 50px auto; text-align: center">
    <h2>Welcome to Admin Page</h2>

    <div class="button">
        <a href="/admin/institutestring">Generate Institute String</a>
    </div>
    <div class="button">
        <a href="/admin/">Download Institute data</a>
    </div>
    <div class="button">
        <a href="/admin/newstring">Generate New Admin String</a>
    </div>
</div>



</body>
</html>