<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate {{ title }}</title>
    <style>
        body{
            font-size: 1.5rem;
            color: black;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: darkorange;
        }
        .button{
            margin-bottom:3rem;
            background-color: bisque;
            padding: 20px
        }
    </style>
</head>
<body>
<div class="" style="width:100%; max-width: 450px; margin: 50px auto; text-align: center">
    <h2>Generate {{ title }}</h2>
    <div class="button">
        <span>{{ generated_string }}</span>
    </div>
    <div class="button">
        <a href="/admin">Back to Admin Page</a>
    </div>
</div>
</body>
</html>