@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

@font-face {
    font-family: Helsinki;
    src: url("helsinki/helsinki.ttf") format("truetype");
}

@font-face {
    font-family: Balloda;
    src: url("balloda/balooda-regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenDyslexic;
    src: url("opendyslexic/OpenDyslexic3-Bold.ttf") format("truetype");
    font-weight: bold;
}

body{
    overflow: hidden;
}

.hidden {
    display: none;
}



#bg, .content-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#bg{
    width: min(140vh,100vw);
    height: min(71.11vw,100vh);
    background-image: url('../img/bbackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.content-box {
    width: min(115vh,82vw);
    height: min(68vh,48.6vw);

    background-color: rgba(255, 255, 255, 0.76);

    border: min(2vh,2vw) solid #F8D5BF;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6.5%/11%;

    padding: min(5.75vh,4.1vw);
}

.content-box h1, h2{
    text-shadow: min(0.42vh,0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        0px min(0.5vh,0.36vw) #F8D5BF,
        min(-0.42vh,-0.3vw) min(0.42vh,0.3vw) #F8D5BF,
        min(-0.5vh,-0.36vw) 0px #F8D5BF,
        min(-0.42vh,-0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        0px min(-0.5vh,-0.36vw) #F8D5BF,
        min(0.42vh,0.3vw) min(-0.42vh,-0.3vw) #F8D5BF,
        min(0.5vh,0.36vw) 0px #F8D5BF;
    text-align: center;
    width: 100%;
}

h1{
    font-size: min(13vh,9.28vw);
    color: #7e2830;
    font-family: Helsinki;
}

h2{
    font-size: min(8.5vh,6.07vw);
    color: #3181F9;
    font-family: Balloda;
}
/*.content-box h1 img {
    display: inline-block;
    height: min(20vh,14.3vw);
}*/
#child-log-in form{
    margin-bottom: min(2.5vh,1.78vw);
}

#child-log-in .warning{
    color: #b50705;
    font-size: min(3vh,2.14vw);
}

#admin-log-in h1{
    font-size: min(13vh,9.3vw);
}

#admin-log-in .warning{
    color: #b50705;
    font-size: min(3vh,2.14vw);
}

#welcome-admin h1{
    font-size:min(11vh,7.85vw);
    margin-bottom: min(2.5vh,1.78vw);

}

.content-box form {
    width: 100%;
    text-align: center;
    margin-top: min(3.5vh,2.5vw);
}

.content-box form * {
    font-family: 'Anaheim';
    display: block;
    font-size: min(3.5vh,2.5vw);
}

.content-box form label {
    text-shadow: 1px 1px #FFAAAA,
        0px 2px #FFAAAA,
        -1px 1px #FFAAAA,
        -2px 0px #FFAAAA,
        -1px -1px #FFAAAA,
        0px -2px #FFAAAA,
        1px -1px #FFAAAA,
        2px 0px #FFAAAA;
}

.content-box form input {
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    line-height: 0;
    padding: 0 min(1.75vh, 1.25vw);
}

.btn {
    font-family: 'Anaheim';
    font-weight: bold;
    border-width: min(0.65vh,0.65vw);
    border-style: solid;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.75);
}

.btn-pink-submit{
    margin: auto;
    margin-top: min(3.5vh,2.5vw);
    border-color: #FFCDAD;
    border-radius: min(3.5vh,2.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: 0 min(2vh,2vw);
}

.btn-brown{
    font-size: min(3.5vh,2.5vw);
    border-color: #C07070;
    border-radius: min(5.5vh,4.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
}

.btn-pink{
    font-size: min(3.5vh,2.5vw);
    border-color: #FFCDAD;
    border-radius: min(5.5vh,4.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
} 

.invalid{
    border: 1px solid #b50705;
}




#welcome-admin .btn-violet, .btn-indigo, .btn-turquoise{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(58vh,43.42vw);
    margin-bottom: min(1.5vh,1.07vw);
}

#welcome-admin .btn-pink-submit{
    display: block;
    font-size: min(3vh,2.14vw);
    width: min(16.2vh,13.42vw);
}
.btn-violet{
    border-color: #9C54BE;
}

.btn-indigo{
    border-color: #5458BE;
}

.btn-turquoise{
    border-color: #54B8BE;
}


#generate-institute-string .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,3.92vw);
    width: min(46vh,32.85vw);
    margin-top: min(2.5vh,1.78vw);
    line-height: min(3.5vh,2.5vw);
}

#generate-institute-string h2{
    font-size: min(6vh,4.28vw);
}

#generate-institute-string input{
    margin-top: min(1.5vh,1.07vw);
}

#generate-institute-string form{
    margin-top: min(2vh,1.42vw);
}

#str-generate{
    display: block;
}

#schoolList{
    width: auto;
    display: block;
}

#download-data .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    border-radius: min(5.5vh,3.92vw);
    width: min(35vh,25vw);
    line-height: min(3.5vh,2.5vw);
    margin-top: min(-10vh,-7.14vw);
    position: relative;
    z-index: 100;
}

#download-data .btn-brown{
    margin-bottom: min(2.5vh,1.78vw);
    position: relative;
    z-index: 100;
}

#change-admin-string .btn-violet{
    display: block;
    margin: auto;
    font-size: min(3.5vh,2.5vw);
    margin-top: min(2.5vh,1.5vw);
    border-radius: min(5.5vh,4.5vw);
    width: min(35vw,40vh);
    line-height: min(3.5vh,2.5vw);
}

#change-admin-string input{
    margin-top: min(3.5vh,1vw);
}

#participant-details input{
    margin-top: min(2.5vh,1.5vw);
    
}

#participant-details label{
    width: min(60vh,50vw);
    margin: auto;
    font-size: min(3vh,2.5vw);
}

#participant-details p{
    text-shadow: 1px 1px #FFAAAA,
        0px 2px #FFAAAA,
        -1px 1px #FFAAAA,
        -2px 0px #FFAAAA,
        -1px -1px #FFAAAA,
        0px -2px #FFAAAA,
        1px -1px #FFAAAA,
        2px 0px #FFAAAA;
    margin-bottom: 0.5rem;
}

#participant-details span{
    text-shadow: none;
    font-weight: bolder;
    display: inline;
}

#participant-details .warning{
    color: #b50705;
    font-size: min(2vh,1.5vw);
    margin-bottom: min(1.75vh, 1.25vw);
}

#participant-details .btn-pink-submit{
    width: min(29vh,20.71vw);
    display: block;
    margin-top: min(3.5vh,2.5vw);
    font-size: min(3.5vh,2.5vw);
}

#tutorial
h3{
    font-family: OpenDyslexic;
    text-align: center;
    font-size: min(6.5vh,4.5vw);
    color: #3181F9;
    font-weight: bolder;
        text-shadow: 1px 1px #FFAAAA,
            0px 2px #FFAAAA,
            -1px 1px #FFAAAA,
            -2px 0px #FFAAAA,
            -1px -1px #FFAAAA,
            0px -2px #FFAAAA,
            1px -1px #FFAAAA,
            2px 0px #FFAAAA;
}

.pregame{
    margin: auto;
    margin-top: min(3.2vh,2vw);
    font-family: OpenDyslexic;
    text-align: center;
    font-size: min(3.2vh,2vw);
    color: #F99131;
    width: min(80.5vh,50.5vw);
    text-shadow: 1px 1px #F8D5BF,
            0px 2px #F8D5BF,
            -1px 1px #F8D5BF,
            -2px 0px #F8D5BF,
            -1px -1px #F8D5BF,
            0px -2px #F8D5BF,
            1px -1px #F8D5BF,
            2px 0px #F8D5BF;
}



#check-sound-level .btn:focus {
    box-shadow: none;
}

#check-sound-level .audio{
    text-align: center;
    margin-top: min(2vh,1.5vw);
}

#check-sound-level .btn-audio{
    background-color: #D9FFFA;
    border: 0.5vh solid #00FFFF;
    border-radius: 25px;
    width: min(11vh,5.57vw);
    margin-top: min(2vh,1.42vw);
}

#check-sound-level i{
    color: #259189;
    padding-left: min(0.5vh,0.35vw);
    padding-top: min(0.5vh,0.35vw);
    font-size: min(3vh,2.14vw);
}


#check-sound-level .btn-pink{
    float: right;
    margin-top: min(-3.3vh,-2.35vw);
}


#button-tutorial img{
    width: min(10vh, 8vw);
    height: auto;
}

#btnmouse {
    text-align: center;
    margin-top: min(2.5vh,1.5vw);
}

#button-tutorial .btn-pink{
    float: right;
    margin-top: min(9vh,6.42vw);
} 

#button-tutorial .btn-brown{
    float: left;
    margin-top: min(9vh,6.42vw);
} 

#button-tutorial .pregame{
    font-size: min(4vh,2.3vw);
    color: #F931C1;
    width: min(50vh,30.5vw)
}

#slider img{
    width: min(50vh, 25vw);
    height: auto;
}

#slider {
    text-align: center;
    margin-top: min(3vh,3.5vw);
}

#slider-tutorial .btn-pink{
    float: right;
    font-size: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
    line-height: min(3.5vh,2.5vw);
    margin-top: 0;
}

#slider-tutorial .pregame{
    width: min(75.5vh,53.5vw);
    margin-top: min(4vh,3vw);
}

#game-bg{
    width: min(140vh,100vw);
    height: min(71.11vw,100vh);
    background-image: url('../img/green-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

#game-bg, .content-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#classroom-context-box {
    width: 100%;
    height: min(8.3vh,5.92vw) ;
    background-color: rgba(255, 255, 255, 0.76); 
    border: min(1vh,1vw) solid #F8D5BF;
    box-sizing: border-box;
    padding: min(1.5vh,1.07vw);
    font-family: OpenDyslexic;
    font-size: min(2.5vh,1.78vw);
    text-align: center;
    border-radius: 20px;
}

#classroom-red-text{
    background-color: red;
    border-radius: 50%;
    width: 3em;
    display: inline-block;
    text-align: center;
}

.modal-title{
    color: #3181F9;
    font-family: Balloda;
}

.modal-dialog{
    max-width: min(60vh,42.85vw);
    margin: auto;
    margin-top: auto;
    margin-top: min(35vh,25vw);
}

.modal-content{
    border: min(1.5vh,1.5vw) solid #F8D5BF;
    border-radius: 20px;
    font-family: 'Anaheim';
}


.modal-body{
    margin: auto;
    padding: min(1vh,1vw);
    font-size: min(3vh,2.14vw);
}

.modal-footer{
    border-top: none;
    float: right;
    padding-top: 0;
    display: block;
}

#staticBackdrop .btn-pink{
    font-size: min(2.5vh,1.78vw);
    border-radius: min(5.5vh,4.5vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
    margin-top: 0;
    float: right;
}

#wallColour-info-box{
    font-family: OpenDyslexic;
    text-align: center;
    font-size: min(3.5vh,2.5vw);
    color: #3181F9;
    font-weight: bolder;
        text-shadow: 1px 1px #FFAAAA,
            0px 2px #FFAAAA,
            -1px 1px #FFAAAA,
            -2px 0px #FFAAAA,
            -1px -1px #FFAAAA,
            0px -2px #FFAAAA,
            1px -1px #FFAAAA,
            2px 0px #FFAAAA;

    width: min(50.5vh,36.01vw);
    background-color: rgba(255, 255, 255, 0.76);
    border: min(1vh,1vw) solid #F8D5BF;
    box-sizing: border-box;
    padding: min(2vh,1.42vw);
    font-size: min(2.3vh,1.64vw);
    text-align: center;
    border-radius: 20px;
}

#wallColour-colour-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    border: min(1vh,1vw) solid #F8D5BF;
    box-sizing: border-box;
    padding: min(0.8vh,0.57vw);
    font-size: min(2.5vh,1.78vw);
    text-align: center;
    border-radius: 20px;
    margin-top: min(1vh,0.713vw);

}

#colour-btn .wall-btn{
    display: inline-block;
    height: min(11.5vh, 8.21vw);
    width: min(9vh,6.42vw);
    margin: 0 min(3vh,2.14vw) 0 0;
    border: min(0.3vh,0.21vw) solid #a5a5a5;

}

#space-fill{
    height: min(65.4vh,46.71vw);
}

#wallcolour-tick .svg-btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-shadow: none;
    margin-left: min(2vh,1.42vw);
}

#wallcolour-tick img{
    width: min(15vh,10.71vw);
    height: auto;
    margin-top: min(2vh,1.42vw);
}

#btn-green{
    background-color: #aedeb8;
}

#btn-yellow{
    background-color: #e8d63b;
}

#btn-pink-wall{
    background-color: #f5b7c8;
}

#btn-purple{
    background-color: #d6bdf6;
}

#btn-blue{
    background-color: #72f0f6;
}

#btn-orange{
    background-color: #F5C773;
}

/* preload all background-images in the browser to smoothify background transition */
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
   content:url("/img/green-bg.png") url("/img/yellow-bg.png") url("/img/orange-bg.png") url("/img/pink-bg.png") url("/img/purple-bg.png") url("/img/blue-bg.png"); 
}

#bell-bg{
    width: min(140vh,100vw);
    height: min(71.11vw,100vh);
    background-image: url('../img/bell-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

#bell-bg, .content-box{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

#bell-volume-box{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    border: min(1vh,1vw) solid #F8D5BF;
    box-sizing: border-box;
    padding: min(0.8vh,0.57vw);
    font-size: min(2.5vh,1.78vw);
    text-align: center;
    border-radius: 20px;
    margin-top: min(1vh,0.713vw);
}

#play-btn{
    display: inline-block;
}

#wallcolour-tick{
    display: inline-block;
}

#space-fill-bell{
    height: min(58.4vh,41.71vw);
}

.btn-play{
    font-size: min(3.5vh,2.5vw);
    border-color: #FFCDAD;
    border-radius: min(2vh,1.42vw);
    line-height: min(3.5vh,2.5vw);
    padding: min(1vh,1vw) min(2vh,2vw);
    color: #FFA800;
    text-shadow: 0 0 min(2vh,1.42vw) #FFCDAD;
}

#volume-slider{
    display: inline-block;
    width: min(80vh,57.14vw);
}

